---
layout: base.njk
title: Blog
permalink: /
---
<main>
  <h1>Posts</h1>
  <ul>
    {% for post in collections.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title or post.fileSlug }}</a>
      {% if post.data.date %}
      <time datetime="{{ post.data.date | date('YYYY-MM-DD') }}">{{ post.data.date | date('YYYY-MM-DD') }}</time>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</main>
