---
layout: base.njk
---
<article>
  <header>
    <h1>{{ title or "Untitled" }}</h1>
    {% if date %}
    <time datetime="{{ date | date('YYYY-MM-DD') }}">{{ date | date('YYYY-MM-DD') }}</time>
    {% endif %}
  </header>
  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
